{% extends 'base.html' %}
{% load static %}
{% block body %}
<script>
  $(document).ready( function () {
    $('#tweetTable').DataTable(
      { 
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[2, 'desc']],
        columnDefs: [ {
          "targets"  : 'no-sort',
          "orderable": false,
          "order": []
        }]
      },
    );

    $('#kwTable').DataTable(
      { 
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[1, 'desc']],
        pageLength: 20
      },
    );
    
  Chart.defaults.font.size = 14;  
  
  const ctx = document.getElementById('myChart');
  var kw_labels = []
  var kw_score = [] 
  var kw_norm_score = []

  {% for kw in keywords|slice:":20" %}
    kw_score.push({{ kw.score }})
    kw_norm_score.push(3 * {{ kw.norm_score }})
    kw_labels.push("{{ kw.word }}")
  {% endfor %}

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: kw_labels,
      datasets: [{
        label: 'Score',
        data: kw_score,
        borderWidth: 1
      },
      {
        label: '3x Norm Score',
        data: kw_norm_score,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      },
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: true,
      borderRadius: 5
    }
  });


} );

  
</script>

<div class="relative overflow-x-auto sm:rounded-lg m-4 justify-center">
  <h1 class="text-center">
    Twitter Optimize
  </h1>
  <div class="text-center items-center m-5">
    <span class="{% if 'comments=no' in request.get_full_path %} bg-blue-400 {% else %} bg-blue-100 {% endif %} text-gray-800 text-sm font-medium me-2 px-1 py-1.5 rounded dark:bg-blue-900 dark:text-blue-300">
      <a href="/dashboard/?comments=no" class="switch rounded-lg m-3 text-large font-bold" data-value="no">
          exclude comments
      </a>
    </span>
    <span class="{% if 'comments=yes' in request.get_full_path %} bg-blue-400 {% else %} bg-blue-100 {% endif %} text-gray-800 text-sm font-medium me-2 px-1 py-1.5 rounded dark:bg-blue-900 dark:text-blue-300">
      <a href="/dashboard/?comments=yes" class="switch rounded-lg m-3 text-large font-bold" data-value="no">
          include comments
      </a>
    </span>
  </div>
  <div class="grid grid-cols-1 lg:grid-cols-2 m-5">
    <div class="m-3 border overflow-x-auto h-screen">
      <div class="m-4">
        <table id="tweetTable" class="w-full row-border text-large text-center justify-center items-center text-gray-700 m-3">
            <thead>
                <tr class="border-b text-center items-center justify-center">                
                  <th scope="row" class="px-4 py-2 font-bold text-gray-900  text-center whitespace-nowrap">
                    Text
                  </th>
                  <th class="px-4 py-2 no-sort">
                    <br>
                  </th>
                  <th class="px-4 py-2">
                    Score
                  </th>
                  <th class="px-4 py-2">
                    Normalized Score
                  </th>
                </tr>
            </thead>
            <tbody>
              {% for tweet in object_list %}
                  <tr class="border-b items-center justify-center text-center">
                      <td scope="row" class="px-4 py-2 text-gray-600 text-sm items-center justify-center text-center">
                        {{ tweet.text }}
                      </td>
                      <td class="px-4 py-2">
                        {% if tweet.norm_score > 70 %}
                          🚀
                        {% elif tweet.norm_score > 50 %}
                          💥
                        {% endif %}
                      </td>
                      <td class="px-4 py-2">
                        {{ tweet.score }}
                      </td>
                      <td class="px-4 py-2">
                        {{ tweet.norm_score }}
                      </td>
                  </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>  
    </div>
    <div class="m-3 text-center border">
      <div class="grid grid-cols-1 m-5">
        <div class="m-3">
          Max Score
          <br>
          {{ stats_score.score__max|floatformat:"1" }}
        </div>
        <div class="m-3">
          Avg Score
          <br>
          {{ stats_score.score__avg|floatformat:"1" }}
        </div>
        <div class="m-3">
          Min Score
          <br>
          {{ stats_score.score__min|floatformat:"1" }}
        </div>
      </div>
    </div>
    <div class="m-3 text-center border overflow-x-auto h-screen">
      <div class="m-4">
        <table id="kwTable" class="w-full row-border text-large text-center justify-center items-center text-gray-700 m-3">
            <thead>
                <tr class="border-b text-center items-center justify-center">                
                  <th scope="row" class="px-4 py-2 font-bold text-gray-900 items-center justify-center text-center whitespace-nowrap">
                    Keyword
                  </th>
                  <th class="px-4 py-2">
                    Score
                  </th>
                  <th class="px-4 py-2">
                    Normalized Score
                  </th>
                </tr>
            </thead>
            <tbody>
              {% for kw in keywords %}
                  <tr class="border-b items-center justify-center text-center">
                      <td scope="row" class="px-4 py-2 text-gray-600 font-semibold items-center justify-center text-center">
                        {{ kw.word }}
                      </td>
                      <td class="px-4 py-2">
                        {{ kw.score }}
                      </td>
                      <td class="px-4 py-2">
                        {{ kw.norm_score }}
                      </td>
                  </tr>
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
    <div class="m-3 text-center h-screen">
      <br>
      <br>
      <p>
        Score  
      </p>
      <br>
        <canvas height="300px" id="myChart" class="m-2"></canvas>
    </div>
    <div class="m-3 text-center border h-3/6">
      widget
    </div>
  </div>    
</div>
{% endblock %}