{% extends 'base.html' %}
{% load static %}
{% block body %}
<script>
  $(document).ready( function () {
    $('#tweetTable').DataTable(
      { 
        layout: {
          topStart: 'search',
          topEnd: null,
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[2, 'desc']],
        pageLength: 20,
        columnDefs: [ {
          "targets" : 'no-sort',
          "orderable": false,
          "order": [],
        },
        {targets: 0,
          render: DataTable.render.ellipsis( 40, true ),
        }]
      },
    );

    $('#kwTable').DataTable(
      { 
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[1, 'desc']],
        pageLength: 20
      },
    );
    
  Chart.defaults.font.size = 14;  
  
  const ctx = document.getElementById('myChart');
  var kw_labels = []
  var kw_score = [] 
  var kw_norm_score = []

  {% for kw in keywords|slice:":20" %}
    kw_score.push({{ kw.score }})
    kw_norm_score.push(3 * {{ kw.norm_score }})
    kw_labels.push("{{ kw.word }}")
  {% endfor %}

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: kw_labels,
      datasets: [{
        label: 'Score',
        data: kw_score,
        borderWidth: 1,
        borderColor: '#34d399',
        backgroundColor: '#34d399'
      },
      {
        label: '3x Norm Score',
        data: kw_norm_score,
        borderWidth: 1,
        borderColor: '#000000',
        backgroundColor: '#000000'
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      },
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: true,
      borderRadius: 5
    }
  });


} );

  
</script>

<div class="relative overflow-x-auto sm:rounded-lg m-4 justify-center">
  <h1 class="text-center text-4xl">
    Twitter Optimize Dashboard
  </h1>
  <br>
  <h2 class="text-center text-2xl font-semibold">
    @{{ user.username }}
  </h2>
  {% for tweet in object_list %}
  {% empty %}
  <h2 class="text-2xl font-semibold text-center">
    <a href="{% url 'upload' %}" class="btn btn-danger">   
      Upload your data to see your Twitter insights
    </a>
  </h2>
  {% endfor %}
  <br>
  <div class="grid grid-cols-1 m-5 text-center">
    <div class="grid grid-cols-1 md:grid-cols-3 m-5  text-2xl text-center">
      <div class="m-2 border rounded-lg">
        <p class="m-3">
        Best tweet Score
        <br>
        <span class="font-bold"> {{ stats_score.score__max|floatformat:"1" }}</span>
        </p>
      </div>
      <div class="m-2 border rounded-lg">
        <p class="m-3">
          Avg tweet Score
          <br>
          <span class="font-bold"> {{ stats_score.score__avg|floatformat:"1" }}</span>
          </p>
      </div>
      <div class="m-2 border rounded-lg">
        <p class="m-3">
          Min tweet Score
          <br>
          <span class="font-bold"> {{ stats_score.score__min|floatformat:"1" }}</span>
        </p>
      </div>
    </div>    
  </div>
  <div class="grid grid-cols-1 m-5 text-center text-2xl">
    <br>
    <br>
    <p>
      Topic Score
    </p>
    <br>
      <canvas height="300px" width="450px" id="myChart" class="m-2"></canvas>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 text-center border rounded-lg">
    <div class="m-5">
      
      <p class="text-xl font-semibold m-3" id="alltweets">
        All tweets
      </p>
      <div class="mb-3 text-left items-left">
        <span class="{% if 'comments=no' in request.get_full_path %} bg-emerald-400 {% else %} bg-emerald-100 {% endif %} text-gray-800 text-sm font-medium me-2 px-1 py-1.5 rounded dark:bg-blue-900 dark:text-blue-300">
          <a href="{{ request.path }}?comments=no#alltweets" class="switch rounded-lg m-3 text-large font-bold" data-value="no">
              exclude comments
          </a>
        </span>
        <span class="{% if 'comments=yes' in request.get_full_path %} bg-emerald-400 {% else %} bg-emerald-100 {% endif %} text-gray-800 text-sm font-medium me-2 px-1 py-1.5 rounded dark:bg-blue-900 dark:text-blue-300">
          <a href="{{ request.path }}?comments=yes#alltweets" class="switch rounded-lg m-3 text-large font-bold" data-value="no">
              include comments
          </a>
        </span>
      </div>
      <table id="tweetTable" class="w-full row-border text-large text-center justify-center items-center text-gray-700 m-5">
          <thead>
              <tr class="border-b text-center items-center justify-center">                
                <th scope="row" class="px-4 py-2 font-bold text-gray-900  text-center whitespace-nowrap">
                  Text
                </th>
                <th class="px-4 py-2 no-sort">
                  <br>
                </th>
                <th class="px-4 py-2">
                  Score
                </th>
                <th class="px-4 py-2">
                  Normalized Score
                </th>
              </tr>
          </thead>
          <tbody>
            {% for tweet in object_list %}
                <tr class="border-b items-center justify-center text-center">
                    <td scope="row" class="px-4 py-2 font-bold text-gray-600 text-sm items-center justify-center text-center">
                      {{ tweet.text }}
                    </td>
                    <td class="px-4 py-2">
                      {% if tweet.norm_score > 70 %}
                        🚀
                      {% elif tweet.norm_score > 50 %}
                        💥
                      {% endif %}
                    </td>
                    <td class="px-4 py-2">
                      {{ tweet.score }}
                    </td>
                    <td class="px-4 py-2">
                      {{ tweet.norm_score }}
                    </td>
                </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="m-5">
      <p class="text-xl font-semibold m-3">
        All Topics
      </p>
      <table id="kwTable" class="w-full row-border text-large text-center justify-center items-center text-gray-700 m-3">
          <thead>
              <tr class="border-b text-center items-center justify-center">                
                <th scope="row" class="px-4 py-2 font-bold text-gray-900 items-center justify-center text-center whitespace-nowrap">
                  Keyword
                </th>
                <th class="px-4 py-2">
                  Score
                </th>
                <th class="px-4 py-2">
                  Normalized Score
                </th>
              </tr>
          </thead>
          <tbody>
            {% for kw in keywords %}
                <tr class="border-b items-center justify-center text-center">
                    <td scope="row" class="px-4 py-2 text-gray-600 font-semibold items-center justify-center text-center">
                      {{ kw.word }}
                    </td>
                    <td class="px-4 py-2">
                      {{ kw.score }}
                    </td>
                    <td class="px-4 py-2">
                      {{ kw.norm_score }}
                    </td>
                </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
  </div>    
</div>
{% endblock %}