{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block body %}
<script>
  $(document).ready( function () {

    DataTable.datetime('YYYY-MMM-DD');
    
    $('#tweetTable').DataTable(
      { 
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[0, 'desc']],
        pageLength: 20,
        columnDefs: [ {
          "targets" : 'no-sort',
          "orderable": false,
          "order": [],
        },
        {targets: 1,
          render: DataTable.render.ellipsis( 80, true ),
        }]
      },
    );
    
    $('#tweetTable').on('click', 'tbody td', function() {
      window.open($(this).data("href"), "_blank");
    });

    $('#kwTable').DataTable(
      { 
        layout: {
          topStart: 'info',
          bottom: 'paging',
          bottomStart: null,
          bottomEnd: null
      },
        info: false,
        pagingType: 'simple_numbers',
        order: [[1, 'desc']],
        pageLength: 31
      },
    );
    
  Chart.defaults.font.size = 20;  
  Chart.defaults.font.family = 'Kanit';

  const ctx = document.getElementById('myChart');
  var kw_labels = []
  var kw_score = [] 
  var kw_norm_score = []

  {% for kw in keywords|slice:":20" %}
    kw_score.push({{ kw.score }})
    kw_norm_score.push( 100*{{ kw.norm_score }})
    kw_labels.push("{{ kw.word }}")
  {% endfor %}

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: kw_labels,
      datasets: [{
        label: 'Score',
        data: kw_score,
        borderWidth: 1,
        borderColor: '#047857',
        backgroundColor: '#047857'
      },
      {
        label: 'Norm Score (x100)',
        data: kw_norm_score,
        borderWidth: 1,
        borderColor: '#000000',
        backgroundColor: '#000000'
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: false
        }
      },
      indexAxis: 'y',
      responsive: true,
      maintainAspectRatio: true,
      borderRadius: 5
    }
  });


} );

  
</script>

<div class="relative overflow-x-auto sm:rounded-lg m-4 justify-center font-kanit">
  <div class="text-right px-16 py-12 justify-right">
    <button type="button" class="text-gray-900 text-xl bg-gray-300 hover:bg-gray-400 rounded-lg px-5 py-2.5 
    text-center inline-flex items-center me-2 border border-1 border-gray-800">
      <svg class="w-6 h-6 me-2 " xmlns="http://www.w3.org/2000/svg" width="16" height="16" 
      fill="currentColor" class="bi bi-lightbulb" viewBox="0 0 16 16">
      <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1"/>
      </svg>
      <a href="https://insigh.to/b/xtopics" target="_blank" rel="noopener noreferrer" 
      class="text-4xl lg:text-2xl block text-gray-800 rounded">
        Feedback?
      </a>
    </button>
  </div>
  <div class="inline-flex w-full justify-between">
    <div class="text-center px-16 py-8 align-center justify-left">
      {% if user.threads_username %}
      <h2 class="align-left text-center lg:text-2xl text-4xl font-semibold">
        @{{ user.threads_username }}
      </h2>
      {% endif %}
    </div>
    <div class="text-center px-16 py-8 justify-right">
      <a href="{% url 'logout' %}" class="text-4xl lg:text-2xl block text-gray-800 rounded hover:text-gray-600">
        Logout
      </a>
    </div>
  </div>
    {% if not user.is_paid and not user.is_staff%}
    <div class="text-center px-16 py-4 justify-center">
      <button type="button" class="text-white text-xl bg-emerald-700 hover:bg-emerald-600 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
        <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
        <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
        </svg>
          <a href="{{ STRIPE_URL_LIFE }}" target="_blank" rel="noopener noreferrer">
            {% if trial_expired %}
              Trial expired - 
            {% else %}
              Free trial expiring on {{ trial_exp_date|date:"d M, Y" }} - 
            {% endif %}
              Get lifetime access
          </a>
      </button>
    </div>
    {% endif %}
  {% if user.is_paid or not trial_expired or user.is_staff %}
  <div class="mx-16 border border-1 rounded-lg border-emerald-700">
    <p class="font-semibold lg:text-6xl text-8xl text-center pt-8">
      Profile Stats
    </p>
    <div class="text-center lg:text-xl text-2xl m-3 text-gray-600">
      Last updated {{ profile_last_update|timesince }} ago
    </div>
    <div class="grid grid-cols-1 mb-5 -mt-5 text-center mx-32">
      <div class="grid grid-cols-1 lg:grid-cols-2 lg:text-2xl text-4xl text-center">
        <div class="m-12 rounded-lg border-4 border-emerald-700 bg-white">
          <p class="m-5 text-gray-600">
          Followers
          <br>
          <span class="font-semibold lg:text-5xl text-7xl text-gray-800"> {{ followers }}</span>
          </p>
        </div>
        <div class="m-12 rounded-lg border-4 border-emerald-700  bg-white">
            <p class="m-5 text-gray-600">
              Likes
              <br>
            <span class="font-semibold lg:text-5xl text-7xl text-gray-800"> {{ likes }}</span>
            </p>
        </div>
        <div class="m-12 rounded-lg border-4 border-emerald-700 bg-white">
          <p class="m-5 text-gray-600">
            Replies
            <br>
            <span class="font-semibold lg:text-5xl text-7xl text-gray-800"> {{ replies }}</span>
          </p>
        </div>
        <div class="m-12 rounded-lg border-4 border-emerald-700 bg-white">
          <p class="m-5 text-gray-600">
            Reposts/Quotes
            <br>
            <span class="font-semibold lg:text-5xl text-7xl text-gray-800"> {{ reposts_quotes }}</span>
          </p>
        </div>
      </div>    
    </div>
  </div>
  <div class="grid grid-cols-1 mt-8 text-center border border-1 
  rounded-lg border-emerald-700 mx-16">
    <br>
    <br>
    {% if user.is_processed or user.username == '' %}
      {% if keywords %}
        <div class="pt-4">
          <p class="font-semibold lg:text-6xl 
          lg:text-left text-8xl m-6 flex text-center items-center">
          Topic Analysis
          {% if old_update %}
            <span class="font-normal text-3xl">  (partial results)</span>
          {% endif %}
          <svg data-tooltip-target="tooltip-topics" class="w-6 h-6 mr-2 mb-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
          </svg>
          </p>
          <div class="text-center lg:text-xl text-2xl m-6 text-gray-600 lg:text-left lg:align-left">
            Last updated {{ threads_last_update|timesince }} ago
          </div>
        </div>
          <div id="tooltip-topics" role="tooltip" 
          class="z-10 invisible inline-block px-3 py-2 lg:text-normal font-medium text-white transition-opacity 
          duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 
          lg:text-left lg:align-left lg:items-left lg:-right-12">
            <p>
            The Topic Score shows the average engagement on all posts talking about the topic.  
            </p>
            <p>
              The Normalized Score is the Score divided by the total number of views on all posts talking about the topic. 
            </p>
            <div class="tooltip-arrow lg:-right-24" data-popper-arrow></div>
          </div>
          <br>
          <canvas height="300px" width="450px" id="myChart" class="mt-16 mb-8 mx-4">
          </canvas>
      {% endif %}
    {% elif object_list %}
    <div role="status" class="m-10 flex text-center items-center justify-center">
    <a class="m-4 bg-gray-100 text-gray-800 text-sm font-medium inline-flex items-center px-2.5 py-0.5 rounded me-2 border border-gray-300 fill-emerald-600 shadow"
        href="{{ request.get_full_path }}">
        <svg class="w-3 h-3 me-1" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> 
          <path d="M21 12C21 16.9706 16.9706 21 12 21C9.69494 21 7.59227 20.1334 6 18.7083L3 16M3 12C3 7.02944 7.02944 3 12 3C14.3051 3 16.4077 3.86656 18 5.29168L21 8M3 21V16M3 16H8M21 3V8M21 8H16" stroke="#000000" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
          </path> 
        </g>
        </svg>
          Refresh
      </a>
    </div>
      <div role="status" class="m-10 flex text-center items-center justify-center">
        <svg aria-hidden="true" class="w-16 h-16 text-gray-200 animate-spin dark:text-gray-600 fill-emerald-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
            <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
        </svg>
      </div>
        Analyzing your Topics...
      {% else %}
        <h2 class="text-2xl font-normal text-center mt-8 mb-4">
            Either you have not written a post yet or something went wrong...
        </h2>
          <a href="{% url 'threads_start_oauth_flow' %}" 
          target="_blank" rel="noopener noreferrer" class="underline mb-8">
            Refresh Threads connection
          </a>
        </button>
    {% endif %}
  </div>
  <div class="grid grid-cols-1 text-center border border-1 
  rounded-lg border-emerald-700 mx-16 mt-4">
    <div class="m-5">
      <p class="lg:text-6xl text-8xl font-semibold m-3 lg:align-left lg:text-left font-kanit" id="alltweets">
        All posts
      </p>
      <p class="lg:text-2xl text-4xl font-normal text-gray-500 ml-3 lg:align-left lg:text-left font-kanit" id="alltweets">
        Total {{ total_views|intcomma }} views
      </p>
      <p class="lg:text-2xl text-4xl font-normal text-gray-500 ml-3  lg:align-left lg:text-left font-kanit" id="alltweets">
        Average {{ avg_views }} views/day
      </p>
      <br>
      <table id="tweetTable" class="w-full row-border text-xl lg:text-left lg:justify-left items-left 
      text-gray-700 m-5 font-kanit">
          <thead>
              <tr class="border-b text-center items-left justify-left">                
                <th scope="row" class="px-4 py-2 font-bold text-gray-900  text-left whitespace-nowrap">
                  Date
                </th>
                <th scope="row" class="px-4 py-2 font-bold text-gray-900  text-center whitespace-nowrap">
                  Text
                </th>
                <th class="px-4 py-2">
                  Score
                </th>
                <th class="px-4 py-2">
                  Views
                </th>
                <th class="px-4 py-2">
                  Normalized Score
                </th>
              </tr>
          </thead>
          <tbody>
            {% for post in object_list %}
                <tr class="border-b items-left justify-left text-left">
                    <td scope="row" class="px-4 py-2 text-gray-600 text-sm items-left justify-left text-left">
                      {{ post.time|date:'Y-M-d' }}
                    </td>
                    <td data-href="{{ post.url }}" scope="row" 
                    class="px-4 py-2 cursor-pointer text-gray-600 text-xl items-left justify-left text-left">
                       {{ post.text }}
                    </td>
                    <td class="px-4 py-2">
                      {{ post.score }}
                    </td>
                    <td class="px-4 py-2">
                      {{ post.views|intcomma }}
                    </td>
                    <td class="px-4 py-2">
                      {{ post.norm_score|floatformat:2 }}%
                    </td>
                </tr>
          {% endfor %}
          </tbody>
      </table>
    </div>
    <div class="m-5 mb-10 text-center lg:text-left">
      <p class="flex font-semibold lg:text-6xl 
          lg:text-left lg:align-left lg:justify-left lg:items-left 
          text-8xl m-6 items-center text-center align-center">
        All Topics
      <svg data-tooltip-target="tooltip-topics-2" class="w-6 h-6 mr-2 mb-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-question-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286m1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94"/>
      </svg>
      </p>
      <div id="tooltip-topics-2" role="tooltip" 
          class="z-10 invisible inline-block px-3 py-2 font-medium text-white transition-opacity 
          duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700 
          lg:text-left lg:align-left lg:items-left lg:-right-12">
            <p>
            The Topic Score shows the average engagement on all posts talking about the topic.  
            </p>
            <p>
              The Normalized Score is the Score divided by the total number of views on all posts talking about the topic. 
            </p>
            <div class="tooltip-arrow lg:-right-24" data-popper-arrow></div>
      </div>
      <br>
      {% if user.is_processed or user.username == '' %}
        <table id="kwTable" class="w-full row-border text-large text-center justify-center items-center text-gray-700 m-3">
          <thead>
              <tr class="border-b text-center items-center justify-center">                
                <th scope="row" class="px-4 py-2 font-bold text-gray-900 items-center justify-center 
                text-center whitespace-nowrap">
                  Topic
                </th>
                <th class="px-4 py-2">
                  Score
                </th>
                <th class="px-4 py-2">
                  Normalized Score
                </th>
              </tr>
          </thead>
          <tbody>
            {% for kw in keywords %}
                <tr class="border-b items-left justify-left text-left">
                    <td scope="row" class="px-4 py-2 text-gray-600 font-normal 
                    items-left justify-left text-left text-xl">
                      {{ kw.word }}
                    </td>
                    <td class="px-4 py-2 text-xl">
                      {{ kw.score|floatformat:2 }}
                    </td>
                    <td class="px-4 py-2 text-xl">
                      {{ kw.norm_score|floatformat:2 }}%
                    </td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
      {% elif object_list %}
        <div role="status" class="m-10 flex text-center items-center justify-center">
          <svg aria-hidden="true" class="w-16 h-16 text-gray-200 animate-spin dark:text-gray-600 fill-emerald-600" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="currentColor"/>
              <path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentFill"/>
          </svg>
        </div>
        Analyzing your Topics...
      {% endif %}
    </div>
  </div>
  {% endif %}    
</div>
<footer class="mt-20 m-4">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="lg:text-sm text-2xl text-gray-500 sm:text-center">© 2024 X Topics.
  </span>
  <ul class="flex flex-wrap items-center mt-3 lg:text-sm text-2xl font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="https://threads.net/tropianhs" class="hover:underline m-10">Made in Italy 🇮🇹 by Antonio </a>
    </li>
    <li>
          <a href="mailto:antoniotropiano@gmail.com?subject=Support request!" class="hover:underline">Support</a>
    </li>
  </ul>
  </div>
</footer>
{% endblock %}