{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block body %}
{% include 'mainapp/header.html' %}
<div class="grid cols-1 gap-4 lg:grid-cols-2 mx-auto font-josefin" id="hero">
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:ml-32 lg:mr-4">
    <p class="lg:m-1 text-8xl lg:text-6xl text-gray-100 font-bold p-3 uppercase leading-none">
      {{APP_NAME}}
    </p> 
    <p class="lg:m-1 lg:text-4xl text-5xl text-gray-100 p-3">
    Perfect product images. Instantly.
    </p>
    
    <p class="lg:m-1 lg:text-2xl text-5xl text-gray-100 p-3">
    Auto-crop, resize and export square 1028x1028 images for marketplaces.<br>
    No Photoshop, no guesswork. <br> 
    5 images/day free.
    </p>
    

    {% if user.is_anonymous %}
    <div class="lg:text-left lg:content-left lg:justify-left m-3 mt-2">
      <!-- Trigger Button -->
      <a href="{% url 'resize' %}">
        <button type="button" class="text-gray-900 bg-yn-gray hover:bg-yn-gray/80 focus:ring-4 
        focus:outline-none focus:ring-[#4285F4]/50 font-semibold text-xl rounded-lg text-sm px-12 py-2.5 text-center 
        inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2 border-2 border-black">
          Try 5 free images
        </button>
      </a>
      <a href="#pricing">
        <a href="#pricing" class="text-gray-200 hover:text-yn-gray font-semibold text-normal underline">
          See Pricing
        </a>
      </a> 
      <p class="text-gray-400 text-sm mt-2">
        Works with JPG/PNG. Preserve original axpect ratio when you want.<br>Smart centering with AI.
      </p>
    </div>
    {% elif user.is_authenticated %}
      {% if user.threads_username %}
      <button type="button" class="text-gray-100 lg:text-3xl text-5xl bg-emerald-800 hover:bg-emerald-600 focus:ring-4 
      focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-10 lg:py-4 text-center inline-flex 
      items-center lg:m-4 mt-24 px-32 py-8">
        <svg class="lg:w-9 lg:h-9 lg:me-2 w-12 h-12 me-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
          <a href="{% url 'dashboard' user.username %}" class="btn btn-danger">
            Go to the Dashboard
          </a>
        </button>
      {% endif %}
    <!-- Twitter button ends here -->
    {% endif %}
  </div>
  <div class="flex items-center justify-center text-center lg:text-left my-20 mx-20 lg:mr-32 lg:ml-4">
    <img class="w-128 h-auto items-center" src="{% static 'mainapp/ynot_logo.png' %}" alt="Hero banner">
  </div>
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:ml-32 lg:mr-4">
      <p class="my-5 text-7xl lg:text-5xl text-gray-100 font-bold p-3">
        How it works (3 steps)
      </p>
      <ul class="max-w-auto space-y-1 text-gray-300 list-inside ml-3 lg:text-4xl text-5xl">
          <li class="flex items-center lg:text-2xl mb-4">
              <i class="bi bi-1-circle-fill me-1 mb-8  text-yn-pink"></i>
                Upload <br>
                Drag & Drop: bulk upload or single files
          </li>
          <li class="flex items-center lg:text-2xl mb-4">
              <i class="bi bi-2-circle-fill me-1 mb-16  text-yn-pink"></i>
                Auto-fit <br>
                AI detects the product, autofits the image and gives you ready for e-commerce image
          </li>
          <li class="flex items-center lg:text-2xl mb-4">
              <i class="bi bi-3-circle-fill me-1 mb-8  text-yn-pink"></i>
                Export <br>
                Download single images or ZIP batches
          </li>
      </ul>
      <a href="{% url 'resize' %}">
        <button type="button" class="ml-10   mt-8 flex text-center items-center justify-center text-gray-900 bg-yn-gray hover:bg-yn-gray/80 focus:ring-4 
        focus:outline-none focus:ring-[#4285F4]/50 font-semibold text-xl rounded-lg text-sm px-12 py-2.5 text-center 
        inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2 border-2 border-black">
        Try it now - 5 free images
      </button>
      </a>

    <br>
      {% if user.is_anonymous %}
        <div class="text-center m-4">
        </div>
      {% elif user.is_authenticated %}
        {% if user.username %}
        <button type="button" class="text-gray-100 lg:text-xl text-4xl bg-gray-900 hover:bg-gray-800 focus:ring-4 
        focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-5 lg:py-2.5 px-32 py-8 
        text-center inline-flex items-center me-2 ml-4">
          <svg class="lg:w-5 lg:h-5 lg:me-2 w-12 h-12 me-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
            <a href="{% url 'dashboard' user.username %}" class="btn btn-danger">
              Go to the Dashboard
            </a>
          </button>
        {% endif %}
      {% endif %}
  </div>
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:mr-32 lg:ml-4">
      <video class="h-full rounded-lg shadow shadow-lg border border-2 border-white h-full flex items-center justify-center
      flex items-center justify-center" preload="metadata" 
      controls muted>
        <source src="{% static 'mainapp/demo.mp4' %}#t=1.5">
        Your browser does not support the video tag.
      </video>
  </div>
</div>
<div class="bg-gray-900 py-20 my-20">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center mb-16">
      <h2 class="text-5xl lg:text-4xl font-bold tracking-tight text-gray-100 mb-4">
        What our users say
      </h2>
      <p class="text-xl lg:text-lg text-gray-300">
        Join our satisfied customers using {{APP_NAME}}
      </p>
    </div>
    <div class="mx-auto grid max-w-2xl grid-cols-1 lg:grid-cols-2 gap-8 lg:max-w-none">
    <!-- Testimonial 1 -->
      <div class="bg-gray-800 rounded-xl p-8 shadow-lg">
        <div class="flex items-center mb-4">
          <div class="flex text-yn-pink">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p class="text-gray-300 text-lg mb-6">
          "Saved our listing team hours every week."
        </p>
        <div class="flex items-center">
          <div>
            <p class="text-sm text-gray-400">E-commerce manager</p>
          </div>
        </div>
      </div>
      <!-- Testimonial 2 -->
      <div class="bg-gray-800 rounded-xl p-8 shadow-lg">
        <div class="flex items-center mb-4">
          <div class="flex text-yn-pink">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <p class="text-gray-300 text-lg mb-6">
          "No more photoshop, our conversion rate is up after switching!"
        </p>
        <div class="flex items-center">
          <div>
            <p class="text-sm text-gray-400">Marketplace seller</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mx-20 my-20">
  <div class="flex -space-x-12 rtl:space-x-reverse text-center items-center justify-center mt-48 lg:mt-4" id="pricing">
    <div class="w-full max-w-sm p-8 bg-gray-300 rounded-2xl shadow">
      <h5 class="m-4 text-4xl text-gray-700 ">1 year deal</h5>
      <div class="text-center text-gray-700">
        <span class="text-2xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$200</span>
        <span class="text-4xl font-semibold tracking-tight">$95.0</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-900 text-xl lg:text-normal">Pay once, use for 1 year (no auto-renew)</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-3xl lg:text-xl m-4 text-white bg-blue-800 
      hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 
      dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-2xl  inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_YEAR }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-gray-900">
        Only 6 spots left at this price 
      </div>
    </div>
    <div class="w-full max-w-sm p-12 bg-gray-200  bg-emerald-200/10 rounded-2xl shadow-4xl
    shadow-2xl dark:bg-gray-800 border-4 border-yn-violetdark">
      <h5 class="m-4 text-5xl text-gray-200 dark:text-gray-200">Lifetime deal</h5>
      <div class="text-center text-gray-200 dark:text-white">
        <span class="text-3xl font-normal tracking-tight text-gray-300 decoration-2 line-through">$400</span>
        <span class="text-5xl font-semibold tracking-tight">$160</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-300 text-2xl lg:text-normal">Pay once, use forever</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-4xl lg:text-2xl m-4 text-white bg-yn-blue hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 rounded-2xl inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_LIFE }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-white">
        Only 5 spots left at this price 
      </div>
    </div>
  </div>
</div>
</div>
</div>

<footer class="mt-20 rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="lg:text-sm text-2xl text-gray-500 sm:text-center dark:text-gray-400">© 2025 YNot
  </span>
  <ul class="flex flex-wrap items-center mt-3 lg:text-sm text-2xl font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="https://x.com/tropianhs" class="hover:underline m-10"> </a>
    </li>
    <li>
          <a href="mailto:support@ynot.co?subject=Support request!" class="hover:underline">Support</a>
    </li>
  </ul>
  </div>
</footer>
{% endblock %}