{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="text-center font-kanit">
  <h1 class="lg:text-4xl text-8xl text-center lg:m-7 mt-24 items-center font-semibold">
    Payment successful!
  </h1>
  <p class="lg:text-3xl text-6xl text-center lg:m-7 mt-24 font-normal">
    Thanks!
  </p >

  {% if user.threads_username%}
    <p class="lg:text-xl text-3xl text-center  lg:m-7 mt-24 hover:underline">
        <a href="{% url 'dashboard_threads' user.threads_username %}">
          Check your Topics in the Dashboard
        </a>
    </p>
  {% else %}
    <p class="lg:text-xl text-3xl text-center  lg:m-7 mt-24 hover:underline">
      <a href="{% url 'home' %}">
        Log in with your email and Threads account
      </a>
    </p>
  {% endif %}
  

</div>
{% endblock %}