{% extends 'base.html' %}
{% load static %}
{% block body %}

<div class="text-center mx-20 my-20">
  <div class="flex -space-x-12 rtl:space-x-reverse text-center items-center justify-center mt-48 lg:mt-4" id="pricing">
    <div class="w-full max-w-sm p-8 bg-gray-300 rounded-2xl shadow">
      <h5 class="m-4 text-4xl text-gray-700 ">1 year deal</h5>
      <div class="text-center text-gray-700">
        <span class="text-2xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$200</span>
        <span class="text-4xl font-semibold tracking-tight">$95.0</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-900 text-xl lg:text-normal">Pay once, use for 1 year (no auto-renew)</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-3xl lg:text-xl m-4 text-white bg-blue-800 
      hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 
      dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-2xl  inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_YEAR }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-gray-900">
        Only 6 spots left at this price 
      </div>
    </div>
    <div class="w-full max-w-sm p-12 bg-gray-200  bg-emerald-200/10 rounded-2xl shadow-4xl
    shadow-2xl dark:bg-gray-800 border-4 border-yn-violetdark">
      <h5 class="m-4 text-5xl text-gray-200 dark:text-gray-200">Lifetime deal</h5>
      <div class="text-center text-gray-200 dark:text-white">
        <span class="text-3xl font-normal tracking-tight text-gray-300 decoration-2 line-through">$400</span>
        <span class="text-5xl font-semibold tracking-tight">$160</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-300 text-2xl lg:text-normal">Pay once, use forever</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-4xl lg:text-2xl m-4 text-white bg-yn-blue hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 rounded-2xl inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_LIFE }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-white">
        Only 5 spots left at this price 
      </div>
    </div>
  </div>
</div>

{% endblock %}