{% extends 'base.html' %}
{% load static %}

{% block body %}
  <h1 class="text-3xl text-center m-5 font-kanit">
    Upload your tweets here
  </h1>
  <div class="text-center items-center justify-center">

    <form method="post" enctype="multipart/form-data" class="max-w-lg mx-auto text-center items-center justify-center">
      {% csrf_token %}
      {{ form.non_field_errors}}
      {% for field in form %}
        {{ field.errors }}

        <input class="block text-sm mx-auto text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" 
        aria-describedby="user_avatar_help" id="{{ field.auto_id }}" name="{{ field.html_name }}" type="file" multiple>
        <div class="mt-1 text-sm text-gray-500 dark:text-gray-300" id="document_help" >
          <a href="https://analytics.twitter.com" class="underline" target="_blank" >
            Go here to export your tweets
          </a>
        </div>
      {% endfor %}
      <button class="font-kanit m-5 text-gray-900 hover:text-white bg-emerald-400 border border-gray-800 hover:bg-emerald-500 focus:ring-4 focus:outline-none focus:ring-gray-300 font-semibold rounded-lg text-xl px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800" type="submit">
        Upload
      </button>
    </form>
  </div>
  <h1 class="text-3xl text-center font-kanit m-5 text-gray-700">
    Watch the video below to see how to export your tweets
  </h1>
  <div class="max-w-2xl mx-auto text-center items-center">
    <video class="rounded-lg border border-4 border-emerald-800" preload="metadata" controls autoplay muted>
      <source src="{% static 'mainapp/twitter_export.mp4' %}#t=2.5" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>
{% endblock %}