{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block body %}


<nav class="bg-gray-100 border-gray-400 dark:bg-gray-900 mx-20">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-10">
    <a href="https://xtopics.co/" class="flex items-center space-x-5 rtl:space-x-reverse">
      <img class="w-20 h-20 m-4" src="{% static 'mainapp/icon_twitopt.png' %}">
      <span class="self-center text-gray-800 text-4xl font-madimi font-extrabold whitespace-nowrap dark:text-white uppercase">
        X Topics
      </span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto font-kanit text-xl" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="text-4xl lg:text-2xl block py-2 px-3 text-white bg-blue-700 rounded md:bg-transparent md:text-emerald-800 md:p-0 dark:text-white md:dark:text-emerald-800" aria-current="page">Home</a>
        </li>
        {% if user.is_anonymous %}
        <li>
          <a href="{% url 'threads_start_oauth_flow' %}" class="text-4xl lg:text-2xl block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-800 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Login</a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'logout' %}" class="text-4xl lg:text-2xl block py-2 px-3 text-gray-800 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-800 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
        </li>
        {% endif %}
        <li>
          <a href="mailto:antoniotropiano@gmail.com?subject=I wanna talk about X Topics!" class="text-4xl lg:text-2xl block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-800 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="grid cols-1 gap-4 lg:grid-cols-2 bg-gray-100 mx-auto"> 
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 font-kanit">
    <p class="lg:m-1 text-8xl lg:text-6xl text-gray-800 font-bold p-3 leading-none">
      Grow on Threads writing only
      <br>
      <span class="font-extrabold text-8xl lg:text-6xl bg-clip-text text-transparent bg-gradient-to-r from-emerald-400 to-emerald-800 uppercase">
        one post 
      </span>
    /day
    </p> 
    <p class="lg:m-1 lg:text-2xl text-5xl text-gray-600 p-3">
    The AI that shows you the right topics for your audience.
    So you can start writing what people want to read, spend less time on Threads
    and grow your audience faster.
    </p>
    {% if user.is_anonymous %}
    <div class="lg:text-left lg:content-left lg:justify-left m-3 mt-8">
      <button type="button" class="px-20 py-4 lg:px-10 lg:py-2 btn content-center lg:align-left justify-left 
      text-white text-5xl lg:text-2xl bg-emerald-800 border hover:bg-emerald-700 border-4 border-emerald-800 
      focus:outline-none focus:ring-blue-300 font-medium rounded-2xl px-5 py-2.5 text-center inline-flex 
      items-center">
      <svg class="w-7 h-7 me-4" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rocket-takeoff-fill" viewBox="0 0 16 16">
        <path d="M12.17 9.53c2.307-2.592 3.278-4.684 3.641-6.218.21-.887.214-1.58.16-2.065a3.6 3.6 0 0 0-.108-.563 2 2 0 0 0-.078-.23V.453c-.073-.164-.168-.234-.352-.295a2 2 0 0 0-.16-.045 4 4 0 0 0-.57-.093c-.49-.044-1.19-.03-2.08.188-1.536.374-3.618 1.343-6.161 3.604l-2.4.238h-.006a2.55 2.55 0 0 0-1.524.734L.15 7.17a.512.512 0 0 0 .433.868l1.896-.271c.28-.04.592.013.955.132.232.076.437.16.655.248l.203.083c.196.816.66 1.58 1.275 2.195.613.614 1.376 1.08 2.191 1.277l.082.202c.089.218.173.424.249.657.118.363.172.676.132.956l-.271 1.9a.512.512 0 0 0 .867.433l2.382-2.386c.41-.41.668-.949.732-1.526zm.11-3.699c-.797.8-1.93.961-2.528.362-.598-.6-.436-1.733.361-2.532.798-.799 1.93-.96 2.528-.361s.437 1.732-.36 2.531Z"/>
        <path d="M5.205 10.787a7.6 7.6 0 0 0 1.804 1.352c-1.118 1.007-4.929 2.028-5.054 1.903-.126-.127.737-4.189 1.839-5.18.346.69.837 1.35 1.411 1.925"/>
      </svg>
        <a href="{% url 'threads_start_oauth_flow' %}" target="_blank" rel="noopener noreferrer">
            Go viral now!
          </a>
      </button>
    </div>
    {% elif user.is_authenticated %}
    {% if user.username %}
    <button type="button" class="text-gray-100 lg:text-3xl text-5xl bg-emerald-800 hover:bg-emerald-600 focus:ring-4 
    focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-10 lg:py-4 text-center inline-flex 
    items-center lg:m-4 mt-24 px-32 py-8">
      <svg class="lg:w-9 lg:h-9 lg:me-2 w-12 h-12 me-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
        <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
        <a href="{% url 'dashboard' user.username %}" class="btn btn-danger">
          Go to the Dashboard
        </a>
      </button>
    {% endif %}
  {% else %}
    <button type="button" class="text-gray-100 text-3xl bg-emerald-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      <a href="{% url 'account_login' %}" class="btn btn-danger">Login</a>
    </button>
    <!-- Twitter button ends here -->
  {% endif %}
    <br>
    <br>
    <br>
    <br>
    <div>
      <p class="my-5 text-7xl lg:text-5xl text-gray-800 font-bold p-3">
        What you get
      </p>
      <ul class="max-w-auto space-y-1 text-gray-500 list-inside ml-3 lg:text-4xl text-5xl">
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Updated followers, likes, and replies
          </li>
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Your best 20 topics  
          </li>
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Detailed analysis of all your posts
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            Detailed analysis of all topics
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            No monthly fee
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-emerald-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            10 days free trial
          </li>

      </ul>
      <p class="text-3xl lg:text-xl p-3 text-gray-600">
        Privacy first. 
        I don't store your personal information.
        <br>
        Data access is managed via Threads API
      </p>
    <br>
      {% if user.is_anonymous %}
        <div class="text-center m-4">
        </div>
      {% elif user.is_authenticated %}
        {% if user.username %}
        <button type="button" class="text-gray-100 lg:text-xl text-4xl bg-emerald-800 hover:bg-emerald-600 focus:ring-4 
        focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-5 lg:py-2.5 px-32 py-8 
        text-center inline-flex items-center me-2 ml-4">
          <svg class="lg:w-5 lg:h-5 lg:me-2 w-12 h-12 me-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
            <a href="{% url 'dashboard' user.username %}" class="btn btn-danger">
              Go to the Dashboard
            </a>
          </button>
        {% endif %}
      {% else %}
        <button type="button" class="text-gray-100 text-xl bg-emerald-700 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          <a href="{% url 'account_login' %}" class="btn btn-danger">Login</a>
        </button>
        <!-- Twitter button ends here -->
      {% endif %}
    </div>
    </div>
    <div class="text-center items-center py-10 my-20 mx-10">
      <video class="w-full rounded-lg border-4 border-emerald-700" preload="metadata" controls muted>
        <source src="{% static 'mainapp/xtopics_landing.mp4' %}#t=0.5">
        Your browser does not support the video tag.
      </video>

      <div class="flex -space-x-12 font-kanit rtl:space-x-reverse text-center items-center justify-center mt-48" id="pricing">
        <div class="w-full max-w-sm p-4 bg-white rounded-2xl shadow sm:p-8">
          <h5 class="m-4 text-4xl text-gray-700 ">1 year access</h5>
          <div class="text-center text-gray-700">
            <span class="text-2xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$20</span>
            <span class="text-4xl font-semibold tracking-tight">$9.50</span>
          </div>
          <h5 class="m-4 text-gray-900 dark:text-gray-900 text-xl lg:text-normal">Pay once, use for 1 year (no auto-renew)</h5>
          <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-3xl lg:text-xl m-4 text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-2xl  inline-flex justify-center text-center">
            <a href="{{ STRIPE_URL_YEAR }}" target="_blank" rel="noopener noreferrer">
              Start now
            </a>
          </button>
        </div>
        <div class="w-full max-w-sm p-4 bg-white border-4 border-emerald-700 bg-emerald-200/10 rounded-2xl  shadow-2xl  sm:p-8 dark:bg-gray-800 dark:border-gray-700">
          <h5 class="m-4 text-5xl text-gray-800 dark:text-gray-900">Lifetime access</h5>
          <div class="text-center text-gray-800 dark:text-white">
            <span class="text-3xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$40</span>
            <span class="text-5xl font-semibold tracking-tight">$15</span>
          </div>
          <h5 class="m-4 text-gray-900 dark:text-gray-900 text-2xl lg:text-normal">Pay once, use forever</h5>
          <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-4xl lg:text-2xl m-4 text-white bg-emerald-700 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 rounded-2xl inline-flex justify-center text-center">
            <a href="{{ STRIPE_URL_LIFE }}" target="_blank" rel="noopener noreferrer">
              Start now
            </a>
          </button>
        </div>
      </div>
      
  </div>
</div>
</div>
</div>

<footer class="mt-20 bg-white rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="lg:text-sm text-2xl text-gray-500 sm:text-center dark:text-gray-400">© 2024 X Topics.
  </span>
  <ul class="flex flex-wrap items-center mt-3 lg:text-sm text-2xl font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="https://x.com/tropianhs" class="hover:underline m-10">Made in Italy 🇮🇹 by Antonio </a>
    </li>
    <li>
          <a href="mailto:antoniotropiano@gmail.com?subject=Support request!" class="hover:underline">Support</a>
    </li>
  </ul>
  </div>
</footer>

{% endblock %}