{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% block body %}
<nav class="border-gray-400 mx-4">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-16">
    <a href="#" class="flex items-center rtl:space-x-reverse">
      <img class="w-20 h-20 m-4" src="{% static 'mainapp/logo_boiler.png' %}">
      <span class="self-center text-gray-100 text-4xl font-kanit font-extrabold whitespace-nowrap 
      dark:text-white uppercase">
        Django Boi
      </span>
    </a>
    <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-default" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto font-kanit text-xl" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a href="#" class="text-4xl lg:text-2xl block py-2 px-3 text-white bg-blue-700 rounded 
          md:bg-transparent md:text-grey-100 md:p-0 dark:text-white md:dark:text-emerald-800" aria-current="page">Home</a>
        </li>
        {% if user.is_anonymous %}
        <li>
        </li>
        {% else %}
        <li>
          <a href="{% url 'account_logout' %}" class="text-4xl lg:text-2xl block py-2 px-3 text-gray-300 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-emerald-800 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Logout</a>
        </li>
        {% endif %}
        <li>
          <a href="mailto:antoniotropiano@gmail.com?subject=I wanna talk about X Topics!" 
          class="text-4xl lg:text-2xl block py-2 px-3 text-white rounded hover:bg-gray-100 
          md:hover:bg-transparent md:border-0 md:hover:text-gray-300 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Contact</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Authentication modal -->
  <div id="authentication-modal" tabindex="-1" aria-hidden="true" hx-target="this"
  class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center 
  items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full" >
      <div class="relative p-4 w-full max-w-md max-h-full">
          <!-- Modal content -->
      </div>
  </div>
</nav>
<div class="grid cols-1 gap-4 lg:grid-cols-2 mx-auto">
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:ml-32 lg:mr-4 font-kanit">
    <p class="lg:m-1 text-8xl lg:text-6xl text-gray-100 font-bold p-3 uppercase leading-none">
      Django Boi
    </p> 
    <p class="lg:m-1 lg:text-2xl text-5xl text-gray-100 p-3">
    The Python boilerplate made with Python for Pythonbois
    </p>
    {% if user.is_anonymous %}
    <div class="lg:text-left lg:content-left lg:justify-left m-3 mt-2">
      <!-- Trigger Button -->
      <a href="#" data-modal-closable=true data-modal-placement="center-center" 
      data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" 
      hx-get="{% url 'account_signup' %}" hx-target="#authentication-modal" hx-swap="innerHTML">
        <button type="button" class="text-gray-900 bg-white hover:bg-grey-100/70 focus:ring-4 
        focus:outline-none focus:ring-[#4285F4]/50 font-semibold text-xl rounded-lg text-sm px-12 py-2.5 text-center 
        inline-flex items-center dark:focus:ring-[#4285F4]/55 me-2 mb-2 border-2 border-black">
          
          Sign up
        </button>
      </a> 
    </div>
    {% elif user.is_authenticated %}
      {% if user.threads_username %}
      <button type="button" class="text-gray-100 lg:text-3xl text-5xl bg-emerald-800 hover:bg-emerald-600 focus:ring-4 
      focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-10 lg:py-4 text-center inline-flex 
      items-center lg:m-4 mt-24 px-32 py-8">
        <svg class="lg:w-9 lg:h-9 lg:me-2 w-12 h-12 me-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
          <a href="{% url 'dashboard_threads' user.threads_username %}" class="btn btn-danger">
            Go to the Dashboard
          </a>
        </button>
      {% endif %}
    <!-- Twitter button ends here -->
    {% endif %}
  </div>
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:mr-32 lg:ml-4 font-kanit">
    <img class="w-128 h-auto" src="{% static 'mainapp/logo_boiler.png' %}" alt="Hero banner">
  </div>
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:ml-32 lg:mr-4 font-kanit">
      <p class="my-5 text-7xl lg:text-5xl text-gray-100 font-bold p-3">
        What you get
      </p>
      <ul class="max-w-auto space-y-1 text-gray-300 list-inside ml-3 lg:text-4xl text-5xl">
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-grey-800 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Updated followers, likes, and replies
          </li>
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-grey-800 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Your best 20 topics  
          </li>
          <li class="flex items-center lg:text-2xl">
              <svg class="w-6 h-6 me-1 text-emgreyerald-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                  <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
              </svg>
              Detailed analysis of all your posts
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-grey-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            Detailed analysis of all topics
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-grey-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            No monthly fee
          </li>
          <li class="flex items-center lg:text-2xl">
            <svg class="w-6 h-6 me-1 text-grey-800 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
            </svg>
            10 days free trial
          </li>
      </ul>
      <p class="text-3xl lg:text-xl p-3 text-gray-300">
        Privacy first. 
        I don't store your personal information.
      </p>
    <br>
      {% if user.is_anonymous %}
        <div class="text-center m-4">
        </div>
      {% elif user.is_authenticated %}
        {% if user.username %}
        <button type="button" class="text-gray-100 lg:text-xl text-4xl bg-emerald-800 hover:bg-emerald-600 focus:ring-4 
        focus:outline-none focus:ring-blue-300 font-medium rounded-lg lg:px-5 lg:py-2.5 px-32 py-8 
        text-center inline-flex items-center me-2 ml-4">
          <svg class="lg:w-5 lg:h-5 lg:me-2 w-12 h-12 me-4" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M2 6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H13V19H15C15.5523 19 16 19.4477 16 20C16 20.5523 15.5523 21 15 21H9C8.44772 21 8 20.5523 8 20C8 19.4477 8.44772 19 9 19H11V18H5C3.34315 18 2 16.6569 2 15V6ZM5 5C4.44772 5 4 5.44772 4 6V15C4 15.5523 4.44772 16 5 16H19C19.5523 16 20 15.5523 20 15V6C20 5.44772 19.5523 5 19 5H5Z" fill="#ffffff"></path> </g></svg>
            <a href="{% url 'dashboard_threads' user.username %}" class="btn btn-danger">
              Go to the Dashboard
            </a>
          </button>
        {% endif %}
      {% endif %}
  </div>
  <div class="items-center justify-center text-center lg:text-left my-20 mx-20 lg:mr-32 lg:ml-4 font-kanit">
      <video class="h-full rounded-lg shadow shadow-lg border border-2 border-white h-full flex items-center justify-center
      flex items-center justify-center" preload="metadata" 
      controls muted>
        <source src="{% static 'mainapp/demo_threads_010824.mp4' %}#t=1.5">
        Your browser does not support the video tag.
      </video>
  </div>
</div>
<div class="text-center mx-20 my-20">
  <div class="flex -space-x-12 font-kanit rtl:space-x-reverse text-center items-center justify-center mt-48 lg:mt-4" id="pricing">
    <div class="w-full max-w-sm p-8 bg-gray-300 rounded-2xl shadow">
      <h5 class="m-4 text-4xl text-gray-700 ">1 year deal</h5>
      <div class="text-center text-gray-700">
        <span class="text-2xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$20</span>
        <span class="text-4xl font-semibold tracking-tight">$9.50</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-900 text-xl lg:text-normal">Pay once, use for 1 year (no auto-renew)</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-3xl lg:text-xl m-4 text-white bg-blue-800 
      hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 
      dark:hover:bg-blue-700 dark:focus:ring-blue-900 font-medium rounded-2xl  inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_YEAR }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-white">
        Only 6 spots left at this price 
      </div>
    </div>
    <div class="w-full max-w-sm p-12 bg-gray-200  bg-emerald-200/10 rounded-2xl shadow-4xl
    shadow-2xl dark:bg-gray-800 dark:border-gray-700">
      <h5 class="m-4 text-5xl text-gray-800 dark:text-gray-900">Lifetime deal</h5>
      <div class="text-center text-gray-800 dark:text-white">
        <span class="text-3xl font-normal tracking-tight text-gray-500 decoration-2 line-through">$40</span>
        <span class="text-5xl font-semibold tracking-tight">$15</span>
      </div>
      <h5 class="m-4 text-gray-900 dark:text-gray-900 text-2xl lg:text-normal">Pay once, use forever</h5>
      <button type="button" class="px-8 py-2 lg:px-10 lg:py-2 text-4xl lg:text-2xl m-4 text-white bg-blue-800 hover:bg-emerald-800 focus:ring-4 focus:outline-none focus:ring-blue-200 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900 rounded-2xl inline-flex justify-center text-center">
        <a href="{{ STRIPE_URL_LIFE }}" target="_blank" rel="noopener noreferrer">
          Start now
        </a>
      </button>
      <div class="text-center text-gray-500 dark:text-white">
        Only 5 spots left at this price 
      </div>
    </div>
  </div>
</div>
</div>
</div>

<footer class="mt-20 rounded-lg shadow m-4 dark:bg-gray-800">
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="lg:text-sm text-2xl text-gray-500 sm:text-center dark:text-gray-400">© 2024 X Topics.
  </span>
  <ul class="flex flex-wrap items-center mt-3 lg:text-sm text-2xl font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
    <li>
      <a href="https://x.com/tropianhs" class="hover:underline m-10">Made in Italy 🇮🇹 by Antonio </a>
    </li>
    <li>
          <a href="mailto:antoniotropiano@gmail.com?subject=Support request!" class="hover:underline">Support</a>
    </li>
  </ul>
  </div>
</footer>
{% endblock %}