{% extends "base.html" %}
{% load static %}

{% block title %}Reset Password{% endblock %}

{% block body %}
{% include 'mainapp/header.html' %}

<div class="flex items-center justify-center min-h-screen -my-64">
<div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700 lg:w-1/3 font-kanit text-center flex items-center justify-center">
    <div class="max-w-md w-full">
        <!-- Modal header -->
    <div class="flex p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Reset your password
        </h3>
    </div>
    <div class="p-4 flex flex-col items-center justify-center">
        <form class="mt-8 space-y-6 w-full" method="post">
            {% csrf_token %}
                <div>
                    <label for="id_email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white md:text-left">Email address</label>
                    <input id="id_email" name="email" type="email" autocomplete="email" required 
                            class="appearance-none rounded-md relative block w-full px-3 py-2 border border-gray-300 text-gray-200 placeholder-gray-200
                            focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm" 
                            placeholder="Your email">
                </div>
            {% if form.errors %}
            <div class="rounded-md bg-red-50 p-4">
                <div class="text-sm text-red-700">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}

            <div>
                <button type="submit" 
                        class="flex group relative w-full justify-center py-2 px-4 border border-transparent text-sm font-medium 
                        rounded-md text-white bg-yn-blue hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
                    Send reset link
                </button>
            </div>

            <div class="text-center">
                <a href="{% url 'account_login' %}" class="font-medium text-yn-white hover:text-gray-200">
                    Back to login
                </a>
            </div>
        </form>
    </div>
    </div>
</div>
</div>
{% endblock %}