{% extends "base.html" %}
{% block body %}
{% include 'mainapp/header.html' %}
<div class="flex items-start justify-center min-h-screen">
<div class="bg-white rounded-lg shadow-sm dark:bg-gray-700 lg:w-1/3 font-kanit">
    <!-- Modal header -->
    <div class="flex items-center justify-center p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white text-center">
            Password reset email sent 
        </h3>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5 dark:text-white text-large text-center">
        <p> We have sent you an email. If you have not received it please check your spam folder. 
        <p>Otherwise contact us if you do not receive it in a few minutes. </p>  
    </div>
</div>
</div>
{% endblock %}