<!-- account/signup.html -->
<div class="relative bg-black rounded-lg shadow-sm dark:bg-gray-700 lg:w-1/3 font-kanit">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900 text-white">
            Sign up with email
        </h3>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5 text-white">
        <form class="space-y-4"  method="POST"
        hx-target="#authentication-modal" hx-post="{% url 'signup' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" 
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none 
            focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 
            dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Sign up
            </button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Already registered? 
                <a href={% url 'account_login' %} class="text-blue-700 hover:underline dark:text-blue-500">Sign in</a>
            </div>
        </form>
    </div>
</div>