{% extends "base.html" %}
{% block body %}
{% load socialaccount %}
{% get_providers as socialaccount_providers %}
{% include 'mainapp/header.html' %}
<!-- account/signup.html -->
<div class="flex items-center justify-center min-h-screen -my-24">
<div class="bg-white rounded-lg shadow-sm dark:bg-gray-700 lg:w-1/3 font-kanit">
    <!-- Modal header -->
    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
            Sign up with email
        </h3>
    </div>
    <!-- Modal body -->
    <div class="p-4 md:p-5">
    <form class="space-y-4"  method="POST" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {% if form.errors %}
            <div class="text-red-500">
                <ul>
                    <!-- Loop through field-specific errors -->
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}                            
                            <li>
                                <i class="bi bi-exclamation-circle"></i>    
                                <span>
                                    {{ error }}
                                </span>
                            </li>
                        {% endfor %}
                    {% endfor %}
                    
                    <!-- Display non-field errors -->
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <i class="bi bi-exclamation-circle"></i><li>{{ error }}</li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% for field in form %}
            <div>
                <label for="{{ field.label }}" 
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                    {{ field.label }}
                </label>
                <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" id="{{ field.id_for_label }}" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-300 dark:border-gray-500" 
                placeholder="" required/>
            </div>
        {% endfor %}
            <button type="submit" 
            class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Sign up
            </button>
            <div class="text-sm font-medium text-gray-500 dark:text-gray-300">
                Already registered? 
                <a href="{% url 'account_login' %}" 
                class="text-blue-700 hover:underline dark:text-blue-500">Sign in</a>
            </div>
        </form>
    </div>
    <!-- infra element -->
    <div class="flex items-center">
        <div class="flex-grow border-t border-gray-300"></div>
        <span class="mx-4 text-yn-gray">or</span>
        <div class="flex-grow border-t border-gray-300"></div>
      </div>
    <!-- Modal footer -->
    <div class="flex items-center justify-center  p-4 md:p-5 border-gray-200">

        {% for socialaccount in socialaccount_providers %}
            {% if socialaccount.name == 'Google' %}
                <a href="{% provider_login_url socialaccount.id %}">
                    <button type="button" 
                    class="text-gray-800 bg-gray-300 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 
                    font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 
                    me-2 mb-2">
                        <i class="bi bi-google mr-2"></i>
                        Sign in with Google
                    </button>
                </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}