asgiref==3.8.1
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.2
Django==5.1.7
django-allauth==65.6.0
django-allauth-ui==1.6.1
django-encrypted-model-fields==0.6.5
django-environ==0.12.0
django-extensions==3.2.3
django-sslserver==0.22
django-widget-tweaks==1.5.0
environ==1.0
idna==3.10
oauthlib==3.2.2
psycopg2==2.9.10
pycparser==2.22
python-dateutil==2.9.0.post0
PyYAML==6.0.2
requests==2.32.3
requests-oauthlib==2.0.0
six==1.17.0
slippers==0.6.2
sqlparse==0.5.3
stripe==11.6.0
typeguard==2.13.3
typing_extensions==4.13.0
urllib3==2.3.0
whitenoise==6.9.0
