{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static "mainapp/styles.css" %}"/>
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.tailwindcss.css" />
</head>
<body>
{% block body %}


{% endblock %}

{% block extra_body %}
{% endblock %}
<script src="{% static "mainapp/index.js" %}"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>

</body>
</html>